<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <p><input placeholder="ширина" name="a"></p>
    <p><input placeholder="высота" name="b"></p>
    <p><button formaction="/rect">вычислить периметр и площадь</button></p>
</form>

<p> <span th:text="${errorMsg}" /></p>
<p th:if="${rectangle}">
    Площадь посчитана и равна <span th:text="${area}"/> <br>
    Периметр посчитан и равен <span th:text="${perimeter}"/>
</p>
<p th:unless="${rectangle}">
    Площадь не удалось посчитать. Периметр тоже не удалось посчитать
</p>
</body>
</html>